apiVersion: v1
kind: Service
metadata:
  name: ingestor
  namespace: iiot
  labels:
    app.kubernetes.io/name: ingestor
    app.kubernetes.io/part-of: iiot-edge-platform
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  selector:
    app.kubernetes.io/name: ingestor
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: metrics
      port: 9091
      targetPort: 9091
      protocol: TCP
