apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: iiot
  labels:
    app.kubernetes.io/name: mosquitto
    app.kubernetes.io/part-of: iiot-edge-platform
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: mosquitto
  ports:
    - name: mqtt
      port: 1883
      targetPort: 1883
      protocol: TCP
